<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1>Mi Aplicacion</h1>
    
      <div class="collapse navbar-collapse" id="navbarNav">

        <nav>
            <a href="#">Casa</a>
            &nbsp;
            <a href="#">Menú </a>
            &nbsp;
            <a href="#">Contacto </a>
            &nbsp;
            <a href="#">Blog </a>
            &nbsp;
        </nav>
        </div>

        <div class="d-flex">
          <fa-icon [icon]="['fas', 'search']" class="me-3"></fa-icon>
          <fa-icon [icon]="['far', 'bell']" class="me-3"></fa-icon>
          <fa-icon [icon]="['far', 'user']"></fa-icon>
        </div>
     
    </div>
  </nav>
  