section{
    background: linear-gradient(#5c6f75, #01ea6e);
    color: white;
   
    text-align: left;
    padding: 1% ;
    height: 120%;
    width: 96%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 15px;
    
    
    
}